@import "../variables.scss";

.Wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.TopBorder {
  display: block;
  border-top: solid rgba(126, 126, 126, 0.618) 2px;
  width: 100vw;
  margin-bottom: 32px;
}

.List {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
}

.ListWrapper {
  max-width: 1400px;
  display: flex;
  width: 70%;
  flex-direction: column;
}

.TotalWrapper {
  width: 25%;
	height: 650px;
}

.Item {
  display: flex;
  margin: 4px;
  box-shadow: 0px 0px 0.1px 1px rgba(0, 0, 0, 0.1);
  color: hsl(0, 0%, 37%);
  align-items: center;
  background-color: #fff;
  text-align: center;
}

.Name,
.HeaderName {
  width: 40%;
}

.Checkout {
  margin: 0;
  width: 100px;
  height: 34px;
  transition: 200ms;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $accent-color;
  color: $font-color;
  margin-top: 8px;
}

.Update {
  margin: 0;
  width: 100px;
  height: 24px;
  font-size: 12px;
  transition: 200ms;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  background-color: $accent-color;
  color: $font-color;
  margin-top: 10px;
  margin-right: 24px;
}

.Update:hover,
.Checkout:hover {
  background-color: $accent-color-hover;
  transform: scale(1.05);
}

.Update:active,
.Checkout:active {
  background-color: $main-color;
}

.QuantityBttn {
  width: 20px;
  background-color: $tertiary-color;
  color: $font-color;
  // margin-right: 18px;
}

.QuantityBttn:hover {
  background-color: $tertiary-color-hover;
}

.Quantity,
.HeaderQuantity {
  width: 20%;
}

.Price,
.HeaderPrice {
  width: 20%;
}

.ProductTotal,
.HeaderProductTotal {
  width: 20%;
}

.ProductHeaders {
  display: flex;
  width: 100%;
  font-size: 18px;
  margin-bottom: 12px;
  align-items: center;
  text-align: center;
  margin-left: 4.5rem;
}

.ProductList {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.ProductCount {
  width: 30px;
}

.Quantity {
  display: flex;
  justify-content: center;
}

.Photo {
  width: 4rem;
  height: 4rem;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 8px;
}

.Totals {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  padding: 8px;
  box-shadow: 0px 0px 0.1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 36px;
}

.Totals > div {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  width: 100%;
}
