@import "../variables.scss";


.Wrapper {
	border-top: 2px solid $main-color;
}

h1 {
	font-size: 3rem;
	font-weight: 500;
}

p {
	font-size: 1.25rem;
	line-height: 1.5;
	margin: 32px 0;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 32px;
}

h3 {
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.AboutWrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-top: 64px;
}

.Team {
	display: flex;
	justify-content: space-between;
}

.Member {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Member > img {
	width: 250px;
	object-fit: cover;
	aspect-ratio: 1;
	margin-bottom: 16px;
}

.Member > a {
	font-size: 1.25rem;
	margin-bottom: 8px;
}