@import "../variables.scss";

.Logo {
  text-decoration: none;
  color: $font-color;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
  text-align: center;
  margin-left: 8px;
}

.NavBar {
  display: flex;
  width: 100%;
  background-color: $main-color;
  height: 80px;
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
}
.TransNavBar {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 80px;
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
}

.NavBttn {
  border: none;
  background: $font-color;
  color: $main-color;
  border-radius: 24px;
  border: none;
  height: 34px;
  font-size: 16px;
  width: 100px;
  transition: 100ms;
}

.NavBttn:hover {
  background-color: $main-color-hover;
  color: white;
  transform: scale(1.05);
}

.Cart {
  display: flex;
  margin: 0;
  width: 100px;
  height: 34px;
  transition: 100ms;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
}

.CartIcon {
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
}
.Cart:hover {
  background-color: $main-color-hover;
}

.NavBttnsWrapper {
  margin-right: 32px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// GitHub Button
.ReverseNavBttn {
  display: flex;
  border: none;
  background-color: transparent;
  color: $font-color;
  border-radius: 24px;
  border: none;
  height: 34px;
  font-size: 16px;
  width: 100px;
  transition: 100ms;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.ReverseNavBttn:hover {
  background-color: $main-color-hover;
  color: white;
}
