@import "../variables.scss";

.Logo {
  text-decoration: none;
  color: $font-color;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
  text-align: center;
  margin-left: 32px;
}

.NavBar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.NavBar .Logo {
  color: $main-color;
}

.TransNavBar {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.NavBttn {
  border: none;
  background: $font-color;
  color: $main-color;
  border-radius: 24px;
  border: none;
  height: 34px;
  font-size: 16px;
  width: 100px;
  transition: 200ms;
}

.NavBttn:hover {
  background-color: $main-color-hover;
  color: white;
  transform: scale(1.05);
}

.Cart {
  display: flex;
  margin: 0;
  width: 100px;
  height: 34px;
  transition: 200ms;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $accent-color;
  margin-right: 8px;
}

.CartIcon {
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
}
.Cart:hover {
  background-color: $accent-color-hover;
  transform: scale(1.05);
}

.Cart:active {
  background-color: $main-color;
}

.NavBttnsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 32px;
}

// GitHub Button
.ReverseNavBttn {
  display: flex;
  border: none;
  // background-color: transparent;
  color: $font-color;
  border-radius: 24px;
  border: none;
  height: 34px;
  font-size: 16px;
  width: 100px;
  transition: 200ms;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.ReverseNavBttn:hover {
  background-color: $main-color-hover;
  color: white;
  transform: scale(1.05);
}

.SearchContainer {
  width: 100%;
  padding: 0 32px;
  height: 36px;
  margin-bottom: 8px;
}

.SearchInput {
  width: 100%;
  height: 100%;
  // min-width: 100px;
  // max-width: 777px;
  // width: 777px;
  // width: 325%;
  // padding: 10px 24px;
  border-radius: 20px;
  transition: 250ms;
  backface-visibility: hidden;
  font-size: 16px;
  color: $black;
  padding-left: 12px;

  // float: right;
  // padding-left: -50px;
  // position: relative;
  // margin: auto;

  background-color: $font-color;

  &::placeholder {
    color: $black;
    letter-spacing: 1px;
  }

  // &:hover {
  //   padding: 12px 0;
  //   outline: 0;
  //   border: 1px solid transparent;
  //   border-bottom: 1px solid #575756;
  //   border-radius: 28;
  //   background-position: 100% center;
  // }
}

.SearchInput:focus {
  outline: none;
}