@import "../variables.scss";

.Wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.Wrapper > h3 {
	font-weight: 500;
	margin-bottom: 8px;
}

.ReviewForm {
  display: flex;
	width: 1400px;
	
}

.RatingWrapper {
	display: flex;
	height: 32px;
	align-items: center;
	margin-bottom: 12px;
}

.Rating {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
}

.Body {
	min-height: 200px;
	max-height: 200px;
	max-width: 1000px;
	min-width: 1000px;
	width: 1000px;
	height: 200px;
	border-radius: 4px;
	padding: 12px;
}

.Body:focus {
	outline: none;
}

.Submit {

}

