@import "../variables.scss";

.Wrapper {
  // height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1400px;
  margin-bottom: 80px;
}

.BusinessContent {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 32px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.HeaderWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  justify-content: space-between;
}
.Banner {
  position: absolute; /* Sit on top of the page content */
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: -100;
}

.Overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.315); /* Black background with opacity */
  z-index: -99; /* Specify a stack order in case you're using a different order for other elements */
}

.Content {
  display: flex;
}
.Header {
  margin-top: 160px;
  margin-left: 12px;
  color: $font-color;
  z-index: 2;
  justify-self: flex-end;
}

.HeaderTitle {
  font-size: 40px;
  font-weight: 500;
}

.HeaderDetails {
  font-size: 28px;
  font-weight: 500;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProductWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
	justify-content: center;
  width: 100%;
}

.SubDetails {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.Price {
  font-size: 16px;
  height: 27px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 12px;
  border-radius: 24px;
  background-color: $accent-color;
  transition: all 100ms;
  margin-left: 8px;
}

.Rating {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 0 12px;
  border-radius: 24px;
  background-color: $main-color;
  transition: all 100ms;
}

.Rating:hover {
  transform: scale(1.02);
}

.Categories {
  font-size: 18px;
  font-weight: 400;
}
.InfoWrapper {
  margin-top: 8px;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}

.BusinessInfo {
  color: $black;
  font-size: 20px;
}

.BusinessLocation {
  font-size: 14px;
  color: $black;
}

.BusinessNumber {
  font-size: 12px;
  color: $font-color;
  margin-bottom: 8px;
}

.BusinessHours {
  font-size: 14px;
  color: $font-color;
}

.HoursTitle {
  font-size: 18px;
  margin-bottom: 4px;
}

.ReviewWrapper {
  box-shadow: 0px 0px 0.1px 1px rgba(0, 0, 0, 0.1);
  background-color: $font-color;
  border-radius: 8px;
  padding: 28px;
	width: 1200px;
}

.ReviewWrapper > h4 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgb(46, 46, 46);
}

.ReviewsListWrapper {
  margin-top: 16px;
}

.ReviewsList {
  max-height: 600px;
  overflow-y: auto;
}

.SingleReview {
  box-shadow: 0px 0px 0.1px 1px rgba(0, 0, 0, 0.2);
  padding: 12px;
  margin: 4px auto;
	width: 1150px;
	display: flex;
	flex-direction: column;
}

.SingleReview > div >  h5 {
	font-weight: 400;
	font-size: 14px;
}

.SingleReview > div {
	display: flex;
	align-items: center;
}

.SingleReview > div > div {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-left: 8px;
}

.SingleReview > p {
	padding-left: 12px;
	font-size: 18px;
	white-space: pre-line;
}

.SingleReview span {
	font-size: 12px;
	margin-bottom: 16px;
}

.ReviewWrapper > h4 {
	padding-left: 4px;
	padding-bottom: 8px;
}

.ReviewWrapper > span {
	margin-left: 12px;
}