@import "../variables.scss";

.Product {
  display: flex;
  background-color: $accent-color;
  margin: 8px 16px;
  width: 600px;
  height: 150px;
}

.Photo {
  width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.Photo > img {
	width: 300px;
}


.ProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	width: 350px;
  padding: 12px;
  background-color: $font-color;
}

.CartBttn {
  background: rgb(54, 52, 52);
  color: $font-color;
  border-radius: 24px;
  height: 32px;
  font-size: 12px;
  width: 92px;
  border: none;
  transition: 100ms;
  align-self: flex-end;
}

.CartBttn:hover {
  background-color: rgb(46, 46, 46);
  transform: scale(1.05);
}

.CartBttn:active {
  background-color: $accent-color;
}

.Name {
  margin-bottom: 8px;
  max-height: 40px;
	font-size: 22px;
}

.Quantity,
.Price {
  font-size: 16px;
  font-weight: 400;
}

.Price {
	margin-bottom: 8px;
	color: hsl(0, 0%, 20%)
}

.Description {
	font-size: 14px;
	color: hsl(0, 0%, 37%)
}